<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/" class="nav-title">{{ .Site.Title }}</a>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/posts" class="nav-item-content">MENU</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="https://claudezss.com" target="_blank" class="nav-item-content">ABOUT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>